:host {
  display: block;
}
.header {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  /*color: white;*/
  color: #0074FF;
  text-align: left;
  cursor: pointer;
  padding: 2px 4px;
  background: rgba(0,0,0,0.1);
}
.header:before, .header:after {
  display: inline-block;
  width: 18px;
  padding: 0 4px;
  opacity: 0.5;
}
#headerCollapsed:before {
  content: "▶";
}
#headerExpanded:before {
  content: "▼";
}

#headerExpanded:not(.expanded) {
  display: none;
}
#headerCollapsed.expanded {
  display: none;
}
#wrapper:not(.expanded) {
  visibility: hidden;
  position: absolute;
}