:host {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  display: block;
  overflow-y: auto;
  background: rgba(127,127,127,0.5);
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}