:host {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  display: inline-block;
}

:host > #show-more /deep/ .header {
  background: rgba(0,0,0,0.1);
  margin: 1px 0 0 0;
}

:host > #navigation {
  position: relative;
  background: rgba(0,0,0,0.1);
}

:host > #navigation > #backBtn {
  cursor: pointer;
  display: none;
}
:host > #navigation > #backBtn.visible {
  cursor: pointer;
  display: inline-block;
}
