:host {
  display: block;
  font-size: 12px;
  margin: 2px 0;
  background: rgba(0, 0, 0, 0.1);
  padding: 3px 0;
}
:host:hover {
  background: rgba(0, 0, 0, 0.3);
}
#label {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: right;
    padding: 0 5px 0 0;
    width: 80px;
    cursor: default;
}
#attribute {
  width: calc(100% - 89px);
  color: #4bf9f9;
  display: inline-block;
  white-space: nowrap;
  position: relative;
}
#label.linked {
    color: #e2aa07;
    cursor: pointer;
}
#label.linked:hover {
    color: white;
}
#label.toggleable {
    cursor: pointer;
}